#photo-gallery {
    display: none;
    flex-wrap: wrap;
}


.image-box {
    height: 220px;
    margin: 4px;
}

.image-box:hover {
    filter: brightness(84%);
}

.image-box img {
    object-fit: cover;
}