body {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;
}

header {
    padding: 16px 24px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 -1px 0 0 #dadce0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title-txt {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #5F6368;
    cursor: pointer;
}

.violet {
    color: violet;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.red {
    color: red;
}

main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.menu-container {
    padding: 4px;
    width: 24px;
    height: 24px;
    border-radius: 100px;
    cursor: pointer;
}

.menu-container:hover {
    background-color: #EBECEC;
}

.menu-container-active {
    background-color: #EBECEC;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

.profile {
    border-radius: 100px;
}

#menu-bar {
    padding-top: 24px;
    width: 256px;
    height: calc(100vh - 88px);
    overflow-x: hidden;
    transition: all 125ms ease-in-out;
}

.menu-bar {
    width: 72px;
}

.menu-bar:hover {
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.2);
    box-sizing: 4px 0 8px rgba(0, 0, 0, 0.1);
}

.menu-bar-active {
    width: 256px;
}

.menu-link {
    margin-right: 24px;
    padding: 8px 12px 8px 24px;
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.menu-bar:not(:hover) .menu-link-active:not(:hover) {
    border-radius: 0 100px 100px 0;
    /* animation: 125ms menuLinkIn ease-in-out; */
}

.menu-bar-active:not(:hover) .menu-link-active:not(:hover) {
    border-radius: 0 100px 100px 0;
    /* animation: none; */
}

.menu-bar:hover .menu-link:hover {
    background-color: #F1F3F4;
    border-radius: 0 100px 100px 0;
}

.menu-link-active {
    background-color: #E8F0FE;
}

.menu-bar:hover .menu-link-active {
    background-color: #D2E3FC !important;
    border-radius: 0 100px 100px 0;
}

.highlighted {
    background-color: #D2E3FC !important;
    border-radius: 0 100px 100px 0;
}

.img {
    border-radius: 100px;
}

.img-active {
    background-color: #D2E3FC !important;
}

.menu-txt {
    width: 100%;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #202124;
}